.frame {
  left: 50%;
  width: 400px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 50px;
}

.range {
  background: #fff;
  height: 2rem;
  width: 80%;
  border-radius: 5rem;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 60%;
  height: 9px;
  background: #bdbdbd;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-runnable-track {
  background: #ff6e40;
}
input[type="range"]::-ms-track {
  width: 60%;
  cursor: pointer;
  height: 9px;
  transition: all 0.5s;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #bdbdbd;
  border-radius: 3rem;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ff6e40;
}
input[type="range"]::-ms-fill-upper {
  background: #bdbdbd;
  border-radius: 3rem;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ff6e40;
}
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  width: 60%;
  height: 9px;
  background: #bdbdbd;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}
input[type="range"]:hover::-moz-range-track {
  background: #ff6e40;
}






/*css search */





.search-container{
    background: #fff;
    height: 30px;
    width: 200px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}
